@font-face {
  font-family: 'tmix-icon';
  src:  url('fonts/tmix-icon.eot?gpm5aa');
  src:  url('fonts/tmix-icon.eot?gpm5aa#iefix') format('embedded-opentype'),
    url('fonts/tmix-icon.ttf?gpm5aa') format('truetype'),
    url('fonts/tmix-icon.woff?gpm5aa') format('woff'),
    url('fonts/tmix-icon.svg?gpm5aa#tmix-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tmix-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tmix-alphabet:before {
  content: "\e972";
}
.tmix-arrow-symbol:before {
  content: "\e973";
}
.tmix-arrow:before {
  content: "\e974";
}
.tmix-balloon:before {
  content: "\e975";
}
.tmix-bird:before {
  content: "\e976";
}
.tmix-birthday:before {
  content: "\e977";
}
.tmix-butterfly:before {
  content: "\e978";
}
.tmix-camera:before {
  content: "\e979";
}
.tmix-clock:before {
  content: "\e97a";
}
.tmix-crown:before {
  content: "\e97b";
}
.tmix-cup:before {
  content: "\e97c";
}
.tmix-decoration:before {
  content: "\e97d";
}
.tmix-dog:before {
  content: "\e97e";
}
.tmix-emblem:before {
  content: "\e97f";
}
.tmix-eto:before {
  content: "\e980";
}
.tmix-face:before {
  content: "\e981";
}
.tmix-father:before {
  content: "\e982";
}
.tmix-feather:before {
  content: "\e983";
}
.tmix-fish:before {
  content: "\e984";
}
.tmix-fork:before {
  content: "\e985";
}
.tmix-glasses:before {
  content: "\e986";
}
.tmix-halloween:before {
  content: "\e987";
}
.tmix-hat:before {
  content: "\e988";
}
.tmix-jewel:before {
  content: "\e989";
}
.tmix-laurel:before {
  content: "\e98a";
}
.tmix-leaf:before {
  content: "\e98b";
}
.tmix-mother:before {
  content: "\e98c";
}
.tmix-mustache:before {
  content: "\e98d";
}
.tmix-others:before {
  content: "\e98e";
}
.tmix-piano:before {
  content: "\e98f";
}
.tmix-rabbit:before {
  content: "\e990";
}
.tmix-ribbon-banner:before {
  content: "\e991";
}
.tmix-ribbon:before {
  content: "\e992";
}
.tmix-ring:before {
  content: "\e993";
}
.tmix-rouge:before {
  content: "\e994";
}
.tmix-star:before {
  content: "\e995";
}
.tmix-tree:before {
  content: "\e996";
}
.tmix-beginner-mark:before {
  content: "\e997";
}
.tmix-faq:before {
  content: "\e998";
}
.tmix-coupon:before {
  content: "\e971";
}
.tmix-flip-horizontally:before {
  content: "\e96f";
}
.tmix-flip-vertically:before {
  content: "\e970";
}
.tmix-scaling-down:before {
  content: "\e96d";
}
.tmix-design-finish:before {
  content: "\e96e";
}
.tmix-ink-o:before {
  content: "\e964";
}
.tmix-bottom-cursor:before {
  content: "\e965";
}
.tmix-bottom-left-cursor:before {
  content: "\e966";
}
.tmix-bottom-right-cursor:before {
  content: "\e967";
}
.tmix-left-cursor:before {
  content: "\e968";
}
.tmix-right-cursor:before {
  content: "\e969";
}
.tmix-top-cursor:before {
  content: "\e96a";
}
.tmix-top-left-cursor:before {
  content: "\e96b";
}
.tmix-top-right-cursor:before {
  content: "\e96c";
}
.tmix-bulk-order:before {
  content: "\e962";
}
.tmix-guide-centerline:before {
  content: "\e963";
}
.tmix-print-area-apron-front:before {
  content: "\e92e";
}
.tmix-print-area-handtowel-front:before {
  content: "\e934";
}
.tmix-print-area-bag-back:before {
  content: "\e931";
}
.tmix-print-area-bag-front:before {
  content: "\e948";
}
.tmix-text-stamp:before {
  content: "\e947";
}
.tmix-angle-up-down:before {
  content: "\e900";
}
.tmix-animal:before {
  content: "\e901";
}
.tmix-apron:before {
  content: "\e902";
}
.tmix-art:before {
  content: "\e903";
}
.tmix-baby:before {
  content: "\e904";
}
.tmix-back-layer:before {
  content: "\e905";
}
.tmix-back:before {
  content: "\e906";
}
.tmix-bag:before {
  content: "\e907";
}
.tmix-basic:before {
  content: "\e908";
}
.tmix-bottom-alignment:before {
  content: "\e909";
}
.tmix-cancel:before {
  content: "\e90a";
}
.tmix-cart:before {
  content: "\e90b";
}
.tmix-decoration-text:before {
  content: "\e90c";
}
.tmix-design:before {
  content: "\e90d";
}
.tmix-equal:before {
  content: "\e90e";
}
.tmix-event:before {
  content: "\e90f";
}
.tmix-file-text-with-pen:before {
  content: "\e910";
}
.tmix-first-layer:before {
  content: "\e911";
}
.tmix-font:before {
  content: "\e912";
}
.tmix-food:before {
  content: "\e913";
}
.tmix-frame:before {
  content: "\e914";
}
.tmix-free-dial:before {
  content: "\e915";
}
.tmix-front-layer:before {
  content: "\e916";
}
.tmix-gift:before {
  content: "\e917";
}
.tmix-horizontal-center-alignment:before {
  content: "\e918";
}
.tmix-horizontal:before {
  content: "\e919";
}
.tmix-ink:before {
  content: "\e91a";
}
.tmix-japan:before {
  content: "\e91b";
}
.tmix-kids:before {
  content: "\e91c";
}
.tmix-ladies-tshirt:before {
  content: "\e91d";
}
.tmix-last-layer:before {
  content: "\e91e";
}
.tmix-layer:before {
  content: "\e91f";
}
.tmix-left-alignment:before {
  content: "\e920";
}
.tmix-line-a:before {
  content: "\e921";
}
.tmix-lock:before {
  content: "\e922";
}
.tmix-logo-heart:before {
  content: "\e923";
}
.tmix-long-tshirt:before {
  content: "\e924";
}
.tmix-marine:before {
  content: "\e925";
}
.tmix-music:before {
  content: "\e926";
}
.tmix-outline:before {
  content: "\e927";
}
.tmix-paint:before {
  content: "\e928";
}
.tmix-parka:before {
  content: "\e929";
}
.tmix-pc:before {
  content: "\e92a";
}
.tmix-plant:before {
  content: "\e92b";
}
.tmix-poloshirt:before {
  content: "\e92c";
}
.tmix-present:before {
  content: "\e92d";
}
.tmix-print-area-baby-back:before {
  content: "\e92f";
}
.tmix-print-area-baby-front:before {
  content: "\e930";
}
.tmix-print-area-clutch-back:before {
  content: "\e932";
}
.tmix-print-area-clutch-front:before {
  content: "\e933";
}
.tmix-print-area-long-tshirt-back:before {
  content: "\e935";
}
.tmix-print-area-long-tshirt-front:before {
  content: "\e936";
}
.tmix-print-area-poloshirt-back:before {
  content: "\e937";
}
.tmix-print-area-poloshirt-front:before {
  content: "\e938";
}
.tmix-print-area-pouch-back:before {
  content: "\e939";
}
.tmix-print-area-pouch-front:before {
  content: "\e93a";
}
.tmix-print-area-pull-parka-back:before {
  content: "\e93b";
}
.tmix-print-area-pull-parka-front:before {
  content: "\e93c";
}
.tmix-print-area-towel-left:before {
  content: "\e93d";
}
.tmix-print-area-towel-right:before {
  content: "\e93e";
}
.tmix-print-area-tshirt-back:before {
  content: "\e93f";
}
.tmix-print-area-tshirt-front:before {
  content: "\e940";
}
.tmix-print-area-zipup-parka-back:before {
  content: "\e941";
}
.tmix-print-area-zipup-parka-front:before {
  content: "\e942";
}
.tmix-processing:before {
  content: "\e943";
}
.tmix-rank-1st:before {
  content: "\e944";
}
.tmix-rank-2nd:before {
  content: "\e945";
}
.tmix-rank-3rd:before {
  content: "\e946";
}
.tmix-rank:before {
  content: "\e949";
}
.tmix-redo:before {
  content: "\e94a";
}
.tmix-right-alignment:before {
  content: "\e94b";
}
.tmix-rock:before {
  content: "\e94c";
}
.tmix-scene:before {
  content: "\e94d";
}
.tmix-shadow:before {
  content: "\e94e";
}
.tmix-sport:before {
  content: "\e94f";
}
.tmix-stamp:before {
  content: "\e950";
}
.tmix-sweat:before {
  content: "\e951";
}
.tmix-symbol:before {
  content: "\e952";
}
.tmix-tag:before {
  content: "\e953";
}
.tmix-text:before {
  content: "\e954";
}
.tmix-tmix-heart:before {
  content: "\e955";
}
.tmix-tmix-logo:before {
  content: "\e956";
}
.tmix-top-alignment:before {
  content: "\e957";
}
.tmix-towel:before {
  content: "\e958";
}
.tmix-truck:before {
  content: "\e959";
}
.tmix-tshirt:before {
  content: "\e95a";
}
.tmix-undo:before {
  content: "\e95b";
}
.tmix-unlock:before {
  content: "\e95c";
}
.tmix-upload:before {
  content: "\e95d";
}
.tmix-user:before {
  content: "\e95e";
}
.tmix-vertical-center-alignment:before {
  content: "\e95f";
}
.tmix-vertical:before {
  content: "\e960";
}
.tmix-zoom:before {
  content: "\e961";
}
